<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1">
    <listeners>
        <listener class-name="APIFrameWork.com.api.listeners.TestListener"/>
    </listeners>
    <test name="AuthAPI">
        <classes>
<!--            <class name="APIFrameWork.com.api.tests.LoginTest"/>-->
            <class name="APIFrameWork.com.api.tests.UserManagementTest"/>
        </classes>
    </test>
</suite>